
.slide img{
    height: 400px;

}
.clr{

    background-color: rgb(109, 22, 22);
}
.nnn{
    color:gold;
}
.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-family:monospace;
    
}